.logotipo{
    padding: 10px;
    margin-right: 20px;
}

.logotipo img{
    height: 25px;
}

#menu a:hover{
    border-bottom: 5px solid #f1e866;
    color: #f1e866;
}

#menu a:active{
    border-bottom: 5px solid #ffffff;
    color: #606060;
}
